<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Part Two</title>
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}" />
</head>
<body>
    <h1>Hi welcome to Django Level two!</h1>
    <h2>Here are your access records:</h2>
    <div class="djangotwo" >
        {% if access_records %}
            <table>
                <thead>
                    <th>Site Name</th>
                    <th>Date Accesssed</th>
                </thead>            
                {% for acc in access_records %}
                    <tr>
                        <td>{{ acc.name }}</td>
                        <td>{{ acc.date }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>NO ACCESS RECORDS FOUND!</p>
        {% endif %}

    </div>
</body>
</html>

<!-- html used for part-one -->
<!-- <!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Guitar Page</title>
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}" />
</head>
<body>
    <h1>Hi, this is a picture of Django himself!</h1>
    <img src="{% static 'images/django_guitar.jpeg' %}" alt="Uh Oh, didn't show!" >
</body>
</html> -->