<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1>Here are your users:</h1>
    {% if users %}
        <ol type="1">
            {% for user in users %}
                <li>
                    <ul>
                        <li>{{user.first}}</li>
                        <li>{{user.last}}</li>
                        <li>{{user.email}}</li>
                    </ul>
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <p>NO USERS FOUND</p>
    {% endif %}
</body>
</html>